/*MAIN*/
main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.main--form {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 700px;
    background-color: var(--blue);
    border-radius: 20px;
    padding: 30px;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.form--title {
    font-size: 2rem;
}

.form--container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 25px;
    min-width: 300px;
}

.form--container input {
    padding: 10px;
    border-radius: 5px;
    border: 0px;
}

.form--input {
    display: grid;
    gap: 5px;
}

.form--button {
    font-size: 1rem;
    background-color: var(--green);
}

/*MAIN*/